p {
    color: blue;
}

;

.container {
    display: flex;
    flex-wrap: wrap;
}

;

.child {
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.special {
    color: red;
}

.bg-color-blue {
    background-color: blue;
}